{% extends 'base.html' %}
{% block title %}
Halls
{% endblock title %}
{% block content %}
<h1 class="services_taital"><span style="color: #fcce2d">Our</span> Halls</h1>



<table class="table">
    <thead>
      <tr>
        <th scope="col">SN</th>
        <th scope="col">Doctor</th>
        <th scope="col">Code   </th>
        <th scope="col">Stage   </th>
        <th scope="col">Building   </th>
        <th scope="col">Spcial   </th>
      </tr>
    </thead>
    <tbody>
        {% for hall in all_halls %}
       <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{hall.doctor.first_name}} {{hall.doctor.last_name}}</td>
          <td>{{hall.code   }}</td>
          <td>{{hall.stage   }}</td>
          <td>{{hall.bulding   }}</td>
          <td>{{hall.spcial   }}</td>
        </tr>
       {% endfor %}
    </tbody>
</table>
{% endblock content %}